$common-style-bg-color: #1B3464;

$common-style-color: #fff;

$common-style-font-Family: PingFangSC-Regular;
$common-style-font-family-Medium: PingFangSC-Medium;
$common-style-btn-family: Helvetica;
$padding-left-right: .6rem;
$padding-top: .3rem;
$padding-bottom: .9rem;
$theme-color: #052F6D;
$theme-red-color:#F7605C;
$border-color: rgba(0,0,0,.2);